<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mycss.css"/>
</head>
<body>
<!--Vue.js-->
<script src="/js/vue.js"></script>
<!--Element-ui-->
<script src="/js/index.js"></script>
<!--axios-->
<script src="/js/axios.min.js"></script>
<!--cookie工具类-->
<script src="/js/cookie_utils.js"></script>

<div id="container">
    <el-container>

        <!--网站图片 + 用户信息-->
        <el-header height="100%">
            <el-col :span="6">
                <img class="logo" src="/img/server_html/sportLogo.jpg" style="width: 100px;height: 100px"/>
            </el-col>
            <el-col :span="9">
                <span class="campus-sports" style="margin-left: 150px;font-size: 36px;padding-top: 50px">重庆工程学院校园运动会</span>
            </el-col>
            <el-col :span="6" :offset="12" style="display: flex; align-items: center; justify-content: flex-end;">
                <br>
                <!--个人用户信息-->
                <el-dropdown >
                    <span class="no-attention move-bottom-mini-mini" style="font-size: 20px">
                                用户:&nbsp;
                        <el-button type="text"  icon="el-icon-arrow-down" style="font-size: 20px;margin-right: 20px">{{user.username}}</el-button>
                    </span>

                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item >
                            <el-button @click="myPage" style="width: 100px;text-align: center;border: none;font-size: 15px">个人信息</el-button>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-button @click="logout" style="width: 100px;text-align: center;border: none;font-size: 15px">注销</el-button>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--头像-->
                <el-col :span="6" :offset="0">
                    <el-avatar :src="user.userHeadUrl"></el-avatar>
                </el-col>
            </el-col>
        </el-header>

        <el-main>
            <!--导航栏-->
            <el-col :span="17" :offset="3">
                <el-menu id="nav" :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                         @select="handleSelect">
                    <el-menu-item index="1" @click="sportsIPage">赛事公布</el-menu-item>
                    <el-menu-item index="2" style="margin-left: 85px" @click="signupPage">申请报名</el-menu-item>
                    <el-submenu index="3" style="margin-left: 85px">
                        <template slot="title">成绩查询</template>
                        <el-menu-item index="3-1" @click="queryIPage('searchsign')">报名查询</el-menu-item>
                        <el-submenu index="3-2">
                            <template slot="title">成绩查询</template>
                            <el-menu-item index="3-2-1" @click="queryIPage('searchscore')">单项成绩查询</el-menu-item>
                            <el-menu-item index="3-2-2" @click="queryIPage('searchteam')">团体成绩查询</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="3-3">班级总分查询</el-menu-item>
                        <el-menu-item index="3-4">学院总分查询</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="4" style="margin-left: 85px" @click="scorePage">成绩公布</el-menu-item>
                    <el-menu-item index="5" style="margin-left: 85px">投诉与检举</el-menu-item>
                </el-menu>
            </el-col>

            <!--轮播图-->
            <el-col :span="10">
                <el-carousel indicator-position="outside" height="300px"
                             style="width:680px; position: relative; top: 20px; left: 50px">
                    <el-carousel-item v-for="imgUrl in circleImgUrl" :key="imgUrl">
                        <img :src="imgUrl" width="100%" height="100%" style="border-radius: 5px"/>
                    </el-carousel-item>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row no-padding" id="widget_ext_weather"
                                            style="z-index: 999; margin: 0 auto 0;float: none;position: absolute;bottom: 10px;left: 50%;transform: translateX(-50%);">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" align="left"></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" align="left" style="padding: 0 0 0 30px">
                        <iframe style="background-color: rgba(0,0,0,0.5);border-radius: 5px;"
                                allowtransparency="true" frameborder="0" width="290" height="96" scrolling="no"
                                src="//tianqi.2345.com/plugin/widget/index.htm?s=2&amp;z=1&amp;t=0&amp;v=0&amp;d=2&amp;bd=0&amp;k=&amp;f=ffffff&amp;ltf=009944&amp;htf=cc0000&amp;q=1&amp;e=1&amp;a=1&amp;c=57516&amp;w=290&amp;h=96&amp;align=centor">

                        </iframe>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" align="left"></div>
                </div>
                </el-carousel>
            </el-col>

            <!--文字资讯-->
            <el-col :span="11" :offset="3">
                <el-card class="box-card" style="position: relative; top: 20px;">
                    <div slot="header" class="clearfix">
                        <span>运动会资讯</span>
                    </div>
                    <div v-for="o in 4" :key="o" class="text item">
                        {{'列表内容 ' + o }}
                    </div>
                </el-card>
            </el-col>

        </el-main>

        <el-footer class="foot">
            <br>
            <br>
            &copy;2023 by 第三组
        </el-footer>
    </el-container>
</div>


<script>
    var baseUrl = "http://localhost:8080/client/user";

    //登录验证
    if (getCookieValue("token") == null || getCookieValue("token") === '') {
        window.location.href = baseUrl + '/toLogin?reason=nologin';
    }


    var vm = new Vue({
        el: '#container',
        data: {
            user: {
                userId: '',
                username: '',
                userHeadUrl: '',
                token: '',
            },
            img:'',
            activeIndex: '0',
            circleImgUrl: ['http://i.cqie.edu.cn/resources/style/pc/images/newicon/bg_1.jpg',
                'http://i.cqie.edu.cn/resources/style/pc/images/newicon/bg_2.jpg',
                'http://i.cqie.edu.cn/resources/style/pc/images/newicon/bg_3.jpg']
        },
        created: function () {
            // this.user.userId = getCookieValue("userId");
            // this.user.username = getCookieValue("username");
            // this.user.userHeadUrl = './static/img/user_upload/' + getCookieValue("img");
            this.user.token = getCookieValue("token");
            console.log(this.user.token)
            var param = window.location.href.split("?");
            if (param[1] === 'reason=successlogin') {
                this.$notify({
                    title: '登录成功',
                    message: '欢迎您: ' + this.user.username,
                    type: 'success'
                });
            }
            axios.interceptors.request.use(config => {
                config.headers['token'] = this.user.token;
                return config;
            });
            axios({
                method: 'get',
                url: baseUrl + 'user/getLoginUserInfo' + '/' + this.user.token,
            }).then((res)=>{
                this.user.userId = res.data.data.userId;
                this.user.username = res.data.data.username;
                this.user.gender = res.data.data.gender;
                this.user.userHeadUrl = '/img/user_upload/' + res.data.data.img;
            });
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            signupPage() {
                window.location.href = "signup.html";
            },
            sportsIPage() {
                window.location.href = baseUrl + "/toSportsList";
            },
            queryIPage(byType) {
                window.location.href = "query.html?index=" + byType;
            },
            myPage() {
                window.location.href = baseUrl + "/toMyInfo";
            },
            scorePage() {
                window.location.href = "score.html";
            },
            logout() {
                axios({
                    method: 'post',
                    url: baseUrl + '/logout',
                    data: {
                        token: this.user.token,
                    },
                }).then((res)=>{
                    setCookieValue("token", "");
                    window.location.href = baseUrl + 'system/toLogin'
                });
            }
        }
    });
</script>

</body>
</html>
