<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.people.mapper.TbTeamMapper">

    <resultMap type="com.ruoyi.people.domain.TbTeam" id="TbTeamResult">
        <result property="teamId" column="team_id"/>
        <result property="athleteId" column="athlete_id"/>
        <result property="number" column="number"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="other" column="other"/>
    </resultMap>


</mapper>
