<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.people.mapper.TbUserMapper">

    <resultMap type="com.ruoyi.people.domain.TbUser" id="TbUserResult">
        <result property="userId" column="user_id"/>
        <result property="typeId" column="type_id"/>
        <result property="type" column="type"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="realname" column="realname"/>
        <result property="gender" column="gender"/>
        <result property="idnumber" column="idnumber"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="birthday" column="birthday"/>
        <result property="img" column="img"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="other" column="other"/>
    </resultMap>


</mapper>
