<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赛事公布</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mycss.css"/>
</head>
<body>
<!--Vue.js-->
<script src="/js/vue.js"></script>
<!--Element-ui-->
<script src="/js/index.js"></script>
<!--axios-->
<script src="/js/axios.min.js"></script>
<!--cookie工具-->
<script src="/js/cookie_utils.js"></script>
<!--工具-->
<script src="/js/utils.js"></script>


<div id="container">
    <el-container>
        <el-header height="100%">
            <el-col :span="6">
                <img class="logo" src="/img/server_html/sportLogo.jpg" style="width: 100px;height: 100px"/>
            </el-col>
            <el-col :span="9">
                <span class="campus-sports" style="margin-left: 150px;font-size: 36px;padding-top: 50px">重庆工程学院校园运动会</span>
            </el-col>
            <el-col :span="6" :offset="12" style="display: flex; align-items: center; justify-content: flex-end;">
                <br>
                <!--个人用户信息-->
                <el-dropdown >
                    <span class="no-attention move-bottom-mini-mini" style="font-size: 20px">
                                用户:&nbsp;
                        <el-button type="text"  icon="el-icon-arrow-down" style="font-size: 20px;margin-right: 20px">{{user.username}}</el-button>
                    </span>

                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item >
                            <el-button @click="myPage" style="width: 100px;text-align: center;border: none;font-size: 15px">个人信息</el-button>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-button @click="logout" style="width: 100px;text-align: center;border: none;font-size: 15px">注销</el-button>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--头像-->
                <el-col :span="6" :offset="0">
                    <el-avatar :src="user.userHeadUrl"></el-avatar>
                </el-col>
            </el-col>
        </el-header>

        <el-main>
            <br>
            <br>
            <!--赛事信息展示区域-->
            <h3>个人赛</h3>
            <template v-for="competitions in competitionArray">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>赛事名称: {{competitions[0].projectName}}</span>
                    </div>
                    <template v-for="(person, index) in competitions">

                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>第{{index+1}}名</span>
                            </div>
                        <div>
                            <el-tag>赛事编号</el-tag>
                            {{person.projectNumber}}
                            <el-tag>时间</el-tag>
                            {{person.arrangementInfoTime}}
                            <el-tag>地点</el-tag>
                            {{person.arrangementInfoPlace}}
                            <el-tag>内容</el-tag>
                            {{person.arrangementInfoContent}}
                            <el-tag>运动员编号</el-tag>
                            {{person.athleteNumber}}
                            <br>
                            <br>
                            <el-tag>学院</el-tag>
                            {{person.collegeName}}
                            <el-tag>班级</el-tag>
                            {{person.className}}
                            <el-tag>姓名</el-tag>
                            {{person.studentName}}
                            <el-tag>成绩</el-tag>
                            {{person.competitionResult}}
                            <el-tag>得分</el-tag>
                            {{person.competitionScore}}
                            <el-tag>裁判员编号</el-tag>
                            {{person.refereeNumber}}
                        </div>
                        </el-card>
                        <br>
                        <br>



                    </template>
                </el-card>

                <el-divider></el-divider>

            </template>

            <h3>团体赛</h3>
            <template v-for="competition in competitions">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>赛事名称: {{competition.projectName}}</span>
                    </div>
                    <div>
                    </div>
                </el-card>
                <br>
                <br>
            </template>

        </el-main>

        <el-footer class="foot">
            <br>
            <br>
            &copy;2023 by 第三组
        </el-footer>
    </el-container>


</div>

<script>
    //登录验证
    if (getCookieValue("token") == null || getCookieValue("token") === '') {
        window.location.href = baseUrl + 'system/toLogin?reason=nologin';
    }
</script>

<script>
    var baseUrl = "http://localhost:8080/client/";
    var vm = new Vue({
        el: '#container',
        data: {
            user: {
                userId: '',
                username: '',
                userHeadUrl: '',
                token: '',
                type:'',
            },

            competitions: [],
            competitionArray: []
        },

        created: function () {
            this.user.token = getCookieValue("token");
            axios({
                method: 'get',
                url: baseUrl + 'user/getLoginUserInfo' + '/' + this.user.token,
                header: {
                    token : this.user.token
                }
            }).then((res)=>{
                this.user.userId = res.data.data.userId;
                this.user.username = res.data.data.username;
                this.user.gender = res.data.data.gender;
                this.user.userHeadUrl = '/img/user_upload/' + res.data.data.img;
                this.user.type = res.data.data.type;
            });

            axios({
                method: 'get',
                url: baseUrl + "sports/listcompetitions"
            }).then((res) => {
                console.log(res.data);
                this.competitionArray = res.data.data;
                console.log(this.competitionArray)
                for (var i = 0; i < this.competitions.length; i++) {
                    this.competitions[i].arrangementInfoTime = timeChange(this.competitions[i].arrangementInfoTime);
                }
            });
        },

        methods: {
            myPage() {
                window.location.href = baseUrl + "system/toMyInfo";
            },
            logout() {
                axios({
                    method: 'post',
                    url: baseUrl + 'user/logout',
                    data: {
                        token: this.user.token,
                    },
                }).then((res)=>{
                    setCookieValue("token", "");
                    window.location.href = baseUrl + 'system/toLogin'
                });
            },
        }
    });
</script>
</body>
</html>
