<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.client.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.client.domain.entity.Project">
        <id column="project_id" property="projectId" />
        <result column="number" property="number" />
        <result column="name" property="name" />
        <result column="introduction" property="introduction" />
        <result column="type" property="type" />
        <result column="gtype" property="gtype" />
        <result column="upnum" property="upnum" />
        <result column="renum" property="renum" />
        <result column="is_cancel" property="isCancel" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="other" property="other" />
    </resultMap>
    <select id="find" resultMap="BaseResultMap">
        select * from tb_project
    </select>
    <select id="verify" resultType="java.lang.Boolean">

    </select>

</mapper>
