<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.client.mapper.TbCompetitionDao">
  <resultMap id="BaseResultMap" type="com.ruoyi.client.domain.entity.TCompetition">
    <id column="competition_id" jdbcType="INTEGER" property="competitionId" />
    <result column="arrangement_id" jdbcType="INTEGER" property="arrangementId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="is_effective" jdbcType="CHAR" property="isEffective" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="other" jdbcType="VARCHAR" property="other" />
  </resultMap>
  <sql id="Base_Column_List">
    competition_id, arrangement_id, type_id, `type`, `result`, score, is_effective, reason,
    create_time, update_time, other
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_competition
    where competition_id = #{competitionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_competition
    where competition_id = #{competitionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="competition_id" keyProperty="competitionId" parameterType="com.ruoyi.client.domain.entity.TCompetition" useGeneratedKeys="true">
    insert into tb_competition (arrangement_id, type_id, `type`,
      `result`, score, is_effective,
      reason, create_time, update_time,
      other)
    values (#{arrangementId,jdbcType=INTEGER}, #{typeId,jdbcType=VARCHAR}, #{type,jdbcType=CHAR},
      #{result,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{isEffective,jdbcType=CHAR},
      #{reason,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{other,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="competition_id" keyProperty="competitionId" parameterType="com.ruoyi.client.domain.entity.TCompetition" useGeneratedKeys="true">
    insert into tb_competition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arrangementId != null">
        arrangement_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="result != null">
        `result`,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="isEffective != null">
        is_effective,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="other != null">
        other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arrangementId != null">
        #{arrangementId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="isEffective != null">
        #{isEffective,jdbcType=CHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.client.domain.entity.TCompetition">
    update tb_competition
    <set>
      <if test="arrangementId != null">
        arrangement_id = #{arrangementId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=CHAR},
      </if>
      <if test="result != null">
        `result` = #{result,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="isEffective != null">
        is_effective = #{isEffective,jdbcType=CHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where competition_id = #{competitionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.client.domain.entity.TCompetition">
    update tb_competition
    set arrangement_id = #{arrangementId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=CHAR},
      `result` = #{result,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      is_effective = #{isEffective,jdbcType=CHAR},
      reason = #{reason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      other = #{other,jdbcType=VARCHAR}
    where competition_id = #{competitionId,jdbcType=INTEGER}
  </update>
</mapper>
